// Variables ===========

$black-section-color: #171717;
$yellow-section-color: #928A2A;
$black-text: #2E2E2E;
$white-text: #efefef;
$btn-bg-color: #DDD026;

// =====================

// Container ===========
.container {
	margin: auto;
	padding: 0px 16px;
}
// =====================

// Button ==============
.button {
	font-family: "Big Shoulders Display", sans-serif;
	font-size: 1rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	box-shadow: $white-text 5px 5px;
	background-color: $btn-bg-color;
	color: $black-text;
	padding: 8px 16px;
}
// =====================

// Section Title =======
.section__title {
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	font-size: 2.3em;
}
// =====================
