@import "ready-components";

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

// Variables ===========

$black-section-color: #171717;
$yellow-section-color: #928A2A;
$black-text: #2E2E2E;
$white-text: #efefef;
$btn-bg-color: #DDD026;

$section-padding: 64px;

// =====================

// Main ================

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

	&::before {
		content: "";
		background: url("../images/main.webp") no-repeat center center;
		background-size: cover;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100vh;
		filter: brightness(30%);
		z-index: -1;
	}

	header {
		background-color: rgba(23, 23, 23, 0.5);
		color: $white-text;
		font-family: "Big Shoulders Display", sans-serif;
		font-size: 1.2rem;
		font-weight: 400;
		letter-spacing: 1px;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		z-index: 3;

		> .container {
			@extend .container;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.logo {

				> img {
					height: 50px;
					width: auto;

					@media (max-width: 769px) {
						height: 40px;
					}
				}
			}

			nav {
				position: relative;

				.burger__menu {
					display: none;
					width: 15px;
					padding: 24px 0px;
					flex-direction: column;
					justify-content: center;
					align-items: flex-end;
					gap: 4px;
					cursor: pointer;

					@media (max-width: 769px) {
						display: flex;
					}

					> span {
						height: 1px;
						background-color: #efefef;
						transition: 0.7s ease-in-out width;

						&:nth-child(1) {
							width: 100%;
						}

						&:nth-child(2) {
							width: 66.66%;
						}

						&:nth-child(3) {
							width: 33.33%;
						}
					}
				}

				.burger__menu:hover > span {
					width: 100%;
				}

				ul {
					@media (max-width: 769px) {
						display: none;
					}

					li {
						display: inline-block;
						padding: 24px 0px;
						transition: 0.7s ease-in-out color;

						&:not(:last-child) {
							margin-right: 48px;

							@media (max-width: 992px) {
								margin-right: 24px;
							}
						}

						&:hover {
							color: #DDD026;
						}
					}
				}

				ul.opened {
					background-color: $black-section-color;
					padding: 16px 16px;
					min-width: 200px;
					display: block;
					position: absolute;
					right: 0px;
					bottom: 0px;
					transform: translateY(100%);
					font-size: 14px;

					> li {
						margin: 0px !important;
						display: block;
						padding: 16px 0px;
						position: relative;

						&:first-child {
							padding-top: 0px;
						}

						&:last-child {
							padding-bottom: 0px;
						}

						&::after {
							content: "";
						    display: block;
						    opacity: 0.5;
						    height: 0.5px;
						    width: calc(100% + 32px);
						    position: absolute;
						    left: 0px;
						    bottom: 0px;
						    background-color: #efefef;
						    transform: translateX(-16px);
						}

						&:last-child::after {
							display: none;
						}
					}
				}
			}

			.contact__link {
				@extend .button;

				@media (max-width: 769px) {
					display: none;
				}
			}
		}
	}

	.hero__section {
		text-align: center;

		@media (max-width: 769px) {
			font-size: 12px;
		}

		h1 {
			color: #DDD026;
			font-family: "Big Shoulders Display", sans-serif;
			font-size: clamp(12px, 20vw, 2rem);
			letter-spacing: 1px;
		}

		p {
			max-width: 600px;
			color: $white-text;
			text-transform: capitalize;

			&:nth-child(2) {
				font-family: "Big Shoulders Display", sans-serif;
				font-size: 3.2em;
				font-weight: 600;
			}

			&:nth-child(3) {
				font-family: "Poppins", sans-serif;
				font-size: 1.2em;
			}
		}

		i {
			font-size: 1rem;
			position: absolute;
			bottom: 50px;
			left: 50%;
			transform: translateX(-50%);
			color: $white-text;
			animation: SwipeDownArrow 1s ease-in-out infinite alternate-reverse;
		}
	}
}

@keyframes SwipeDownArrow {
	0% {
		transform: translate(-50%, 0px);
	}

	100% {
		transform: translate(-50%, -20px);
	}
}

// =====================

// Loading Screen ======

div.loading__screen {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: $black-section-color;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: hide-screen 6s ease-in-out forwards; 

	i {
		color: $yellow-section-color;
		font-size: 2rem;
		animation: loading-icon ease 0.7s infinite;
	}
}

@keyframes loading-icon {
	0% {
		transform: rotate(0deg);
	} 100% {
		transform: rotate(180deg);
	}
}

@keyframes hide-screen {
	50% {
		opacity: 1;
	} 100% {
		opacity: 0;
		display: none;
	}
}

// =====================

// Coachs ==============

section.coachs__section {
	background-color: $yellow-section-color;

	> .container {
		margin: 0px;
		padding: 0px;
		max-width: 100%;
		display: grid;
		grid-template-columns: 30% 70%;
		justify-items: center;

		@media (max-width: 769px) {
			grid-template-columns: 1fr;
		}

		.coachs__text {
			padding: $section-padding;

			@media (max-width: 769px) {
				order: 2;
				text-align: center;
				padding-top: $section-padding / 2;
			}

			h1 {
				@extend .section__title;
			}

			p {
				color: $black-text;
				font-size: 14px;
				margin: 8px 0px;
			}

			a {
				@extend .button;
				display: inline-block;
				margin-top: 16px;
			}
		}

		.coachs__images {
			position: relative;
			overflow: hidden;
			flex-grow: 1;
			display: flex;
			align-items: stretch;
			flex-wrap: wrap;
			

			@media (max-width: 769px) {
				width: 100%;
				aspect-ratio: 3 / 2;
				padding: $section-padding $section-padding 0px $section-padding;
			}

			.coach {
				width: calc(100% / 5);
				overflow: hidden;
				position: relative;

				@media (max-width: 769px) {
					opacity: 0;
					position: absolute;
					top: 64px;
					width: calc(100% - 128px);
					height: calc(100% - 64px);
					animation: slide-show 15s infinite;
				}

				a {
					display: none;
				}

				&:hover {
					a {
						display: block;
						z-index: 2;
						position: absolute;
						bottom: 10px;
						left: 10px;
						font-size: 10px;
						font-family: "Poppins", sans-serif;
						text-transform: uppercase;
						color: $white-text;
						animation: coachName 0.7s ease forwards alternate;
					}

					@media (max-width: 769px) {
						a {
							display: none;
						}
					}
				}

				img {
					height: 100%;
					width: 100%;
					filter: brightness(70%);
					transition: .7s ease-in-out filter;
					object-fit: cover;

					&:hover {
						filter: brightness(50%);
					}

					@media (max-width: 769px) {
						border-radius: 16px;
					}
				}
			}

			@for $i from 0 through 4 {
				.coach__#{$i + 1} {
					animation-delay: #{$i * 3}s;
				}
			}
		}
	}
}

@keyframes coachName {
	0% {
		display: none;
		transform: translateY(20px);
	} 100% {
		display: block;
		transform: translateY(0px);
	}
}

@keyframes slide-show {
	0% {
	  opacity: 0;
	} 10% {
	  opacity: 1;
	} 20%, 30% {
	  opacity: 1;
	} 50% {
	  opacity: 0;
	}
}

// =====================

// Features ============

section.features__section {
	background-color: $black-section-color;
	padding: $section-padding/2 0px;
	color: $white-text;

	> .container {
		@extend .container;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-gap: 64px;
		justify-items: center;

		.feature {
			display: flex;
			align-items: center;
			gap: 8px;

			@media (max-width: 769px) {
				flex-direction: column;
				text-align: center;

				&:nth-child(1) {
					padding-top: 24px;
				}

				&:nth-child(3) {
					padding-bottom: 24px;
				}
			}

			i {
				font-size: 1.5em;
			}

			p {
				line-height: 24px;

				> span {
					display: block;
				}
			}
		}
	}
}

// =====================

// Notre Salle =========

section.notre-salle__section {
	background-color: $yellow-section-color;

	.container {
		margin: 0px;
		padding: 0px;
		max-width: 100%;
		display: grid;
		grid-template-columns: 40% 60%;
		justify-items: center;
		align-items: center;

		@media (max-width: 769px) {
			grid-template-columns: 1fr;
		}

		.image {
			width: 100%;
			max-height: 500px;
			overflow: hidden;

			@media (max-width: 769px) {
				max-height: 300px;
			}

			img {
				filter: brightness(70%);
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: top;
			}
		}

		.section-content {
			padding: $section-padding;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			gap: 40px;

			.row-1, .row-2 {
				display: flex;
				gap: 40px;

				@media (max-width: 769px) {
					flex-direction: column;
					align-items: center;
					text-align: center;
				}

				> div {
					width: 45%;

					@media (max-width: 769px) {
						width: 100%;
					}

					h1 {
						font-size: 22px;
						font-weight: 600;
						font-family: "Big Shoulders Display", sans-serif;
					}

					p {
						color: $black-text;
						font-size: 14px;
						margin-top: 4px;
						font-family: "Poppins", sans-serif;
					}
				}
			}
		}
	}
}

// =====================

// Activités ===========

section.activ__section {
	color: $white-text;
	background-color: $black-section-color;
	padding: $section-padding 0px;

	> .container {
		@extend .container;
		display: grid;
		grid-template-columns: calc(40% - 48px) 60%;
		justify-items: center;
		align-items: center;
		grid-gap: 64px;

		@media (max-width: 769px) {
			grid-template-columns: 1fr;
		}

		.section-text {
			font-family: "Poppins", sans-serif;

			h1 {
				color: #DDD026;
				@extend .section__title;

				@media (max-width: 769px) {
					text-align: center;
				}
			}

			p {
				font-weight: 200;
				font-size: 14px;
				margin: 16px 0px;
				max-width: 400px;

				@media (max-width: 769px) {
					text-align: center;
				}
			}

			ul {
				padding-left: 24px;
				font-weight: 300;
				font-size: 12px;

				@media (max-width: 769px) {
					margin: auto;
					width: fit-content;
				}

				li {
					position: relative;

					&::after {
						content: "";
						background-color: #DDD026;
						width: 10px;
						height: 10px;
						box-shadow: $white-text 3px 3px;
						position: absolute;
						top: 50%;
						left: -24px;
						transform: translateY(-50%);
					}
				}
			}
		}

		.section-content {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			gap: 24px;

			> div {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 24px;

				&:nth-child(2) {
					flex-direction: row-reverse;
				}

				@media (max-width: 769px) {
					flex-direction: row-reverse;
				}

				.text {
					max-width: 320px;

					h2 {
						font-family: "Big Shoulders Display", sans-serif;
						font-size: 1.6rem;
						letter-spacing: 1px;
						color: #DDD026;

						@media (max-width: 769px) {
							font-size: 1.4rem;
						}
						@media (max-width: 480px) {
							font-size: 1.2rem;
						}
					}

					p {
						font-family: "Poppins", sans-serif;
						font-size: 14px;
						font-weight: 200;

						@media (max-width: 769px) {
							font-size: 12px;
						}

						@media (max-width: 480px) {
							font-size: 10px;
						}
					}
				}

				img {
					flex-grow: 1;
					height: 120px;
					object-fit: cover;

					@media (max-width: 769px) {
						min-width: 120px;
						width: 30%;
					}
				}

				img[src="images/act-1.webp"] {
					object-position: top;
				}
			}
		}
	}
}

// =====================

// Gallery =============

section.gallery__section {
	color: $white-text;
	background-color: $black-section-color;
	padding: $section-padding 0px;

	> .container {
		@extend .container;

		.images-container {
			padding-bottom: 24px;
			display: flex;
			flex-wrap: wrap;
			gap: 16px;

			> div {
				flex: 1 0 400px;
				max-height: 200px;
				overflow: hidden;

				@media (max-width: 769px) {
					flex: 1 0 300px;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					filter: brightness(70%);
					transition: 0.7s ease-in-out transform;

					&:hover {
						transform: scale(1.1);
					}
				}
			}
		}

		a {
			@extend .button;
		}
	}
}

// =====================

// Contact =============

section.contact__info__section {
	position: relative;
	z-index: 2;

	&::after {
		content: "";
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: -1;
		background: url("../images/main.webp") no-repeat center center;
		background-size: cover;
		width: 100%;
		height: 100%;
		filter: brightness(20%);
	}

	> .container {
		@extend .container;

		.contact-info {
			color: $white-text;
			width: 100%;
			padding: $section-padding 16px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 64px;

			@media (max-width: 769px) {
				flex-wrap: wrap;
			}

			> div {
				display: flex;
				align-items: center;
				gap: 8px;

				@media (max-width: 769px) {
					width: 100%;
					flex-direction: column;
					justify-content: center;
				}

				p {
					display: inline-block;
					color: #928A2A;
					font-family: "Poppins", sans-serif;
					font-size: 14px; 

					@media (max-width: 769px) {
						display: block;
						text-align: center;
					}

					span {
						display: block;
						color: $white-text;
					}
				}

				i {
					font-size: 18px;
					background-color: #928A2A;
					padding: 8px;
				}
			}
		}
	}
}

section.contact-us__section {
	background-color: $yellow-section-color;
	display: grid;
	grid-template-columns: 50% 50%;

	@media (max-width: 769px) {
		grid-template-columns: 1fr;
	}

	.form {
		padding: $section-padding;

		@media (max-width: 769px) {
			padding: $section-padding ($section-padding / 2);
		}

		form {
			padding-top: 24px;
			display: flex;
			flex-wrap: wrap;
			gap: 16px;

			> input {
				position: relative;
				flex: 1 0 200px;
				padding: 8px 16px;

				&#input-message {
					height: 200px;	
				}

				&::placeholder {
					font-size: 14px;
					position: absolute;
					top: 8px;
					left: 16px;
				}
			}

			> button {
				@extend .button;
			}
		}

		h1 {
			@extend .section__title;
		}
	}

	.contact-us-image {
		width: 100%;
		overflow: hidden;
		max-height: 500px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: brightness(70%);
		}
	}
}

// =====================

// Footer ==============

footer {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	padding: $section-padding 0px;
	background-color: $black-section-color;
	color: $white-text;

	> .container {
		@extend .container;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 48px;

		@media (max-width: 769px) {
			flex-direction: column;
			align-items: stretch;
		}

		.logo {

			img {
				width: 150px;
				height: auto;

				@media (max-width: 769px) {
					margin: auto;
				}

			}
		}

		.copyright {
			text-align: center;

			span {
				display: block;

				a {
					color: #DDD026;
				}
			}
		}

		.contact-info {
			display: flex;
			flex-direction: column;
			gap: 8px;

			@media (max-width: 769px) {
				text-align: center;
			}

			i {
				color: #DDD026;
				margin-right: 4px;
			}
		}
	}
}

// =====================