.container, main header > .container, section.features__section > .container, section.activ__section > .container, section.gallery__section > .container, section.contact__info__section > .container, footer > .container {
  margin: auto;
  padding: 0px 16px; }

.button, main header > .container .contact__link, section.coachs__section > .container .coachs__text a, section.gallery__section > .container a, section.contact-us__section .form form > button {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  box-shadow: #efefef 5px 5px;
  background-color: #DDD026;
  color: #2E2E2E;
  padding: 8px 16px; }
  @media (max-width: 769px) {
    .button, main header > .container .contact__link, section.coachs__section > .container .coachs__text a, section.gallery__section > .container a, section.contact-us__section .form form > button {
      display: inline-block;
      text-align: center;
      width: 100%; } }

.section__title, section.coachs__section > .container .coachs__text h1, section.activ__section > .container .section-text h1, section.contact-us__section .form h1 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 2.3em; }

html {
  scroll-behavior: smooth; }

body {
  overflow-x: hidden; }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  main::before {
    content: "";
    background: url("../images/main.webp") no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    filter: brightness(30%);
    z-index: -1; }
  main header {
    background-color: rgba(23, 23, 23, 0.5);
    color: #efefef;
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 3; }
    main header > .container {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      main header > .container .logo > img {
        height: 50px;
        width: auto; }
        @media (max-width: 769px) {
          main header > .container .logo > img {
            height: 40px; } }
      main header > .container nav {
        position: relative; }
        main header > .container nav .burger__menu {
          display: none;
          width: 15px;
          padding: 24px 0px;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          gap: 4px;
          cursor: pointer; }
          @media (max-width: 769px) {
            main header > .container nav .burger__menu {
              display: flex; } }
          main header > .container nav .burger__menu > span {
            height: 1px;
            background-color: #efefef;
            transition: 0.7s ease-in-out width; }
            main header > .container nav .burger__menu > span:nth-child(1) {
              width: 100%; }
            main header > .container nav .burger__menu > span:nth-child(2) {
              width: 66.66%; }
            main header > .container nav .burger__menu > span:nth-child(3) {
              width: 33.33%; }
        main header > .container nav .burger__menu:hover > span {
          width: 100%; }
        @media (max-width: 769px) {
          main header > .container nav ul {
            display: none; } }
        main header > .container nav ul li {
          display: inline-block;
          padding: 24px 0px;
          transition: 0.7s ease-in-out color; }
          main header > .container nav ul li:not(:last-child) {
            margin-right: 48px; }
            @media (max-width: 992px) {
              main header > .container nav ul li:not(:last-child) {
                margin-right: 24px; } }
          main header > .container nav ul li:hover {
            color: #DDD026; }
        main header > .container nav ul.opened {
          background-color: #171717;
          padding: 16px 16px;
          min-width: 200px;
          display: block;
          position: absolute;
          right: 0px;
          bottom: 0px;
          transform: translateY(100%);
          font-size: 14px; }
          main header > .container nav ul.opened > li {
            margin: 0px !important;
            display: block;
            padding: 16px 0px;
            position: relative; }
            main header > .container nav ul.opened > li:first-child {
              padding-top: 0px; }
            main header > .container nav ul.opened > li:last-child {
              padding-bottom: 0px; }
            main header > .container nav ul.opened > li::after {
              content: "";
              display: block;
              opacity: 0.5;
              height: 0.5px;
              width: calc(100% + 32px);
              position: absolute;
              left: 0px;
              bottom: 0px;
              background-color: #efefef;
              transform: translateX(-16px); }
            main header > .container nav ul.opened > li:last-child::after {
              display: none; }
      @media (max-width: 769px) {
        main header > .container .contact__link {
          display: none; } }
  main .hero__section {
    text-align: center; }
    @media (max-width: 769px) {
      main .hero__section {
        font-size: 12px; } }
    main .hero__section h1 {
      color: #DDD026;
      font-family: "Big Shoulders Display", sans-serif;
      font-size: clamp(12px, 20vw, 2rem);
      letter-spacing: 1px; }
    main .hero__section p {
      max-width: 600px;
      color: #efefef;
      text-transform: capitalize; }
      main .hero__section p:nth-child(2) {
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 3.2em;
        font-weight: 600; }
      main .hero__section p:nth-child(3) {
        font-family: "Poppins", sans-serif;
        font-size: 1.2em; }
    main .hero__section i {
      font-size: 1rem;
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      color: #efefef;
      animation: SwipeDownArrow 1s ease-in-out infinite alternate-reverse; }

@keyframes SwipeDownArrow {
  0% {
    transform: translate(-50%, 0px); }
  100% {
    transform: translate(-50%, -20px); } }
div.loading__screen {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #171717;
  display: flex;
  align-items: center;
  justify-content: center; }
  div.loading__screen i {
    color: #928A2A;
    font-size: 2rem;
    animation: loading-icon ease 0.7s infinite; }

@keyframes loading-icon {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(180deg); } }
section.coachs__section {
  background-color: #928A2A; }
  section.coachs__section > .container {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    justify-items: center; }
    @media (max-width: 769px) {
      section.coachs__section > .container {
        grid-template-columns: 1fr; } }
    section.coachs__section > .container .coachs__text {
      padding: 64px; }
      @media (max-width: 769px) {
        section.coachs__section > .container .coachs__text {
          order: 2;
          text-align: center;
          padding-top: 32px; } }
      section.coachs__section > .container .coachs__text p {
        color: #2E2E2E;
        font-size: 14px;
        margin: 8px 0px; }
      section.coachs__section > .container .coachs__text a {
        display: inline-block;
        margin-top: 16px; }
    section.coachs__section > .container .coachs__images {
      position: relative;
      overflow: hidden;
      flex-grow: 1;
      display: flex;
      align-items: stretch;
      flex-wrap: wrap; }
      @media (max-width: 769px) {
        section.coachs__section > .container .coachs__images {
          width: 100%;
          aspect-ratio: 3 / 2;
          padding: 64px 64px 0px 64px; } }
      section.coachs__section > .container .coachs__images .coach {
        width: calc(100% / 5);
        overflow: hidden;
        position: relative; }
        @media (max-width: 769px) {
          section.coachs__section > .container .coachs__images .coach {
            opacity: 0;
            position: absolute;
            top: 64px;
            width: calc(100% - 128px);
            height: calc(100% - 64px);
            animation: slide-show 15s infinite; } }
        section.coachs__section > .container .coachs__images .coach a {
          display: none; }
        section.coachs__section > .container .coachs__images .coach:hover a {
          display: block;
          z-index: 2;
          position: absolute;
          bottom: 10px;
          left: 10px;
          font-size: 10px;
          font-family: "Poppins", sans-serif;
          text-transform: uppercase;
          color: #efefef;
          animation: coachName 0.7s ease forwards alternate; }
        @media (max-width: 769px) {
          section.coachs__section > .container .coachs__images .coach:hover a {
            display: none; } }
        section.coachs__section > .container .coachs__images .coach img {
          height: 100%;
          width: 100%;
          filter: brightness(70%);
          transition: .7s ease-in-out filter;
          object-fit: cover; }
          section.coachs__section > .container .coachs__images .coach img:hover {
            filter: brightness(50%); }
          @media (max-width: 769px) {
            section.coachs__section > .container .coachs__images .coach img {
              border-radius: 16px; } }
      section.coachs__section > .container .coachs__images .coach__1 {
        animation-delay: 0s; }
      section.coachs__section > .container .coachs__images .coach__2 {
        animation-delay: 3s; }
      section.coachs__section > .container .coachs__images .coach__3 {
        animation-delay: 6s; }
      section.coachs__section > .container .coachs__images .coach__4 {
        animation-delay: 9s; }
      section.coachs__section > .container .coachs__images .coach__5 {
        animation-delay: 12s; }

@keyframes coachName {
  0% {
    display: none;
    transform: translateY(20px); }
  100% {
    display: block;
    transform: translateY(0px); } }
@keyframes slide-show {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  20%, 30% {
    opacity: 1; }
  50% {
    opacity: 0; } }
section.features__section {
  background-color: #171717;
  padding: 32px 0px;
  color: #efefef; }
  section.features__section > .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 64px;
    justify-items: center; }
    section.features__section > .container .feature {
      display: flex;
      align-items: center;
      gap: 8px; }
      @media (max-width: 769px) {
        section.features__section > .container .feature {
          flex-direction: column;
          text-align: center; }
          section.features__section > .container .feature:nth-child(1) {
            padding-top: 24px; }
          section.features__section > .container .feature:nth-child(3) {
            padding-bottom: 24px; } }
      section.features__section > .container .feature i {
        font-size: 1.5em; }
      section.features__section > .container .feature p {
        line-height: 24px; }
        section.features__section > .container .feature p > span {
          display: block; }

section.notre-salle__section {
  background-color: #928A2A; }
  section.notre-salle__section .container {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    justify-items: center;
    align-items: center; }
    @media (max-width: 769px) {
      section.notre-salle__section .container {
        grid-template-columns: 1fr; } }
    section.notre-salle__section .container .image {
      width: 100%;
      max-height: 500px;
      overflow: hidden; }
      @media (max-width: 769px) {
        section.notre-salle__section .container .image {
          max-height: 300px; } }
      section.notre-salle__section .container .image img {
        filter: brightness(70%);
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top; }
    section.notre-salle__section .container .section-content {
      padding: 64px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 40px; }
      section.notre-salle__section .container .section-content .row-1, section.notre-salle__section .container .section-content .row-2 {
        display: flex;
        gap: 40px; }
        @media (max-width: 769px) {
          section.notre-salle__section .container .section-content .row-1, section.notre-salle__section .container .section-content .row-2 {
            flex-direction: column;
            align-items: center;
            text-align: center; } }
        section.notre-salle__section .container .section-content .row-1 > div, section.notre-salle__section .container .section-content .row-2 > div {
          width: 45%; }
          @media (max-width: 769px) {
            section.notre-salle__section .container .section-content .row-1 > div, section.notre-salle__section .container .section-content .row-2 > div {
              width: 100%; } }
          section.notre-salle__section .container .section-content .row-1 > div h1, section.notre-salle__section .container .section-content .row-2 > div h1 {
            font-size: 22px;
            font-weight: 600;
            font-family: "Big Shoulders Display", sans-serif; }
          section.notre-salle__section .container .section-content .row-1 > div p, section.notre-salle__section .container .section-content .row-2 > div p {
            color: #2E2E2E;
            font-size: 14px;
            margin-top: 4px;
            font-family: "Poppins", sans-serif; }

section.activ__section {
  color: #efefef;
  background-color: #171717;
  padding: 64px 0px; }
  section.activ__section > .container {
    display: grid;
    grid-template-columns: calc(40% - 48px) 60%;
    justify-items: center;
    align-items: center;
    grid-gap: 64px; }
    @media (max-width: 769px) {
      section.activ__section > .container {
        grid-template-columns: 1fr; } }
    section.activ__section > .container .section-text {
      font-family: "Poppins", sans-serif; }
      section.activ__section > .container .section-text h1 {
        color: #DDD026; }
        @media (max-width: 769px) {
          section.activ__section > .container .section-text h1 {
            text-align: center; } }
      section.activ__section > .container .section-text p {
        font-weight: 200;
        font-size: 14px;
        margin: 16px 0px;
        max-width: 400px; }
        @media (max-width: 769px) {
          section.activ__section > .container .section-text p {
            text-align: center; } }
      section.activ__section > .container .section-text ul {
        padding-left: 24px;
        font-weight: 300;
        font-size: 12px; }
        @media (max-width: 769px) {
          section.activ__section > .container .section-text ul {
            margin: auto;
            width: fit-content; } }
        section.activ__section > .container .section-text ul li {
          position: relative; }
          section.activ__section > .container .section-text ul li::after {
            content: "";
            background-color: #DDD026;
            width: 10px;
            height: 10px;
            box-shadow: #efefef 3px 3px;
            position: absolute;
            top: 50%;
            left: -24px;
            transform: translateY(-50%); }
    section.activ__section > .container .section-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 24px; }
      section.activ__section > .container .section-content > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px; }
        section.activ__section > .container .section-content > div:nth-child(2) {
          flex-direction: row-reverse; }
        @media (max-width: 769px) {
          section.activ__section > .container .section-content > div {
            flex-direction: row-reverse; } }
        section.activ__section > .container .section-content > div .text {
          max-width: 320px; }
          section.activ__section > .container .section-content > div .text h2 {
            font-family: "Big Shoulders Display", sans-serif;
            font-size: 1.6rem;
            letter-spacing: 1px;
            color: #DDD026; }
            @media (max-width: 769px) {
              section.activ__section > .container .section-content > div .text h2 {
                font-size: 1.4rem; } }
            @media (max-width: 480px) {
              section.activ__section > .container .section-content > div .text h2 {
                font-size: 1.2rem; } }
          section.activ__section > .container .section-content > div .text p {
            font-family: "Poppins", sans-serif;
            font-size: 14px;
            font-weight: 200; }
            @media (max-width: 769px) {
              section.activ__section > .container .section-content > div .text p {
                font-size: 12px; } }
            @media (max-width: 480px) {
              section.activ__section > .container .section-content > div .text p {
                font-size: 10px; } }
        section.activ__section > .container .section-content > div img {
          flex-grow: 1;
          height: 120px;
          object-fit: cover; }
          @media (max-width: 769px) {
            section.activ__section > .container .section-content > div img {
              min-width: 120px;
              width: 30%; } }
        section.activ__section > .container .section-content > div img[src="images/act-1.webp"] {
          object-position: top; }

section.gallery__section {
  color: #efefef;
  background-color: #171717;
  padding: 64px 0px; }
  section.gallery__section > .container .images-container {
    padding-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px; }
    section.gallery__section > .container .images-container > div {
      flex: 1 0 400px;
      max-height: 200px;
      overflow: hidden; }
      @media (max-width: 769px) {
        section.gallery__section > .container .images-container > div {
          flex: 1 0 300px; } }
      section.gallery__section > .container .images-container > div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(70%);
        transition: 0.7s ease-in-out transform; }
        section.gallery__section > .container .images-container > div img:hover {
          transform: scale(1.1); }

section.contact__info__section {
  position: relative;
  z-index: 2; }
  section.contact__info__section::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    background: url("../images/main.webp") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: brightness(20%); }
  section.contact__info__section > .container .contact-info {
    color: #efefef;
    width: 100%;
    padding: 64px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px; }
    @media (max-width: 769px) {
      section.contact__info__section > .container .contact-info {
        flex-wrap: wrap; } }
    section.contact__info__section > .container .contact-info > div {
      display: flex;
      align-items: center;
      gap: 8px; }
      @media (max-width: 769px) {
        section.contact__info__section > .container .contact-info > div {
          width: 100%;
          flex-direction: column;
          justify-content: center; } }
      section.contact__info__section > .container .contact-info > div p {
        display: inline-block;
        color: #928A2A;
        font-family: "Poppins", sans-serif;
        font-size: 14px; }
        @media (max-width: 769px) {
          section.contact__info__section > .container .contact-info > div p {
            display: block;
            text-align: center; } }
        section.contact__info__section > .container .contact-info > div p span {
          display: block;
          color: #efefef; }
      section.contact__info__section > .container .contact-info > div i {
        font-size: 18px;
        background-color: #928A2A;
        padding: 8px; }

section.contact-us__section {
  background-color: #928A2A;
  display: grid;
  grid-template-columns: 50% 50%; }
  @media (max-width: 769px) {
    section.contact-us__section {
      grid-template-columns: 1fr; } }
  section.contact-us__section .form {
    padding: 64px; }
    @media (max-width: 769px) {
      section.contact-us__section .form {
        padding: 64px 32px; } }
    section.contact-us__section .form form {
      padding-top: 24px;
      display: flex;
      flex-wrap: wrap;
      gap: 16px; }
      section.contact-us__section .form form > input {
        position: relative;
        flex: 1 0 200px;
        padding: 8px 16px; }
        section.contact-us__section .form form > input#input-message {
          height: 200px; }
        section.contact-us__section .form form > input::placeholder {
          font-size: 14px;
          position: absolute;
          top: 8px;
          left: 16px; }
  section.contact-us__section .contact-us-image {
    width: 100%;
    overflow: hidden;
    max-height: 500px; }
    section.contact-us__section .contact-us-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(70%); }

footer {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 64px 0px;
  background-color: #171717;
  color: #efefef; }
  footer > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px; }
    @media (max-width: 769px) {
      footer > .container {
        flex-direction: column;
        align-items: stretch; } }
    footer > .container .logo img {
      width: 150px;
      height: auto; }
      @media (max-width: 769px) {
        footer > .container .logo img {
          margin: auto; } }
    footer > .container .copyright {
      text-align: center; }
      footer > .container .copyright span {
        display: block; }
        footer > .container .copyright span a {
          color: #DDD026; }
    footer > .container .contact-info {
      display: flex;
      flex-direction: column;
      gap: 8px; }
      @media (max-width: 769px) {
        footer > .container .contact-info {
          text-align: center; } }
      footer > .container .contact-info i {
        color: #DDD026;
        margin-right: 4px; }

/*# sourceMappingURL=style.css.map */
